<div class="container">

    <div ng-if="HomeController.username">
    
        <!-- Populate User info if avaible -->
        <h4>Welcome, {{HomeController.username}}</h4>
        <h5>{{HomeController.title}}</h5>
        <h5>{{HomeController.company}}  {{HomeController.department}}</h5>

        <div ng-if="HomeController.photo">
            <img style="background-repeat: no-repeat; background-position: 50%; border-radius: 5%; width: 6em; height: 8em; margin-top: 1em; margin-right: 0.25em" class="pull-right" ng-src="data:image/png;base64,{{HomeController.photo}}">
        </div>

    </div>
        
    <div style="margin-top: 1.5em"></div>

    <div class="jumbotron">

        <h2 style="-webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.05)));}">Kiewit Security - Landing Page</h2>
        <hr>
        <div style="margin-top: 2em"></div>
        
        <a href='https://login.cylance.com/Login'>Cylance Console</a>
        <br>
        <a href='https://securitycenter.kiewitplaza.com'>SecurityCenter Console</a>
        
        <div style="margin-top: 2em"></div>        
        
    </div>

</div>

