<div class="container">
        <div ng-if="HomeController.username">
        <!-- Populate User info if avaible -->
            <h3 >Welcome {{HomeController.username}}<br>  
            <h5>{{HomeController.title}}</h5>
            <div ng-if="HomeController.photo">
                <img style="background-repeat: no-repeat; background-position: 50%; border-radius: 50%; width: 80px; height: 95px;" class="pull-right"src=data:image/png;base64,{{HomeController.photo}}></h3>
            </div>
        </div>
        
        <div style="margin-top: 10px"></div>
        
        <p><a href="#/login">Logout</a></p>

    <div class="jumbotron">

        <h1 style="-webkit-box-reflect: below 10px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.05)));}">Homepage</h1>
        <div style="margin-top: -15px"></div>   
        <hr>
        <div style="margin-top: 50px"></div>
    
        
        <!--Include Company Splash Page Content Here-->
        <!-- <ng-include src="'company-content/splashpage.html'"></ng-include> -->
        
        <div style="margin-top: 50px"></div>
        
        
    </div>

</div>
